In [1]:
import requests
import pandas as pd

url = 'https://data.nasa.gov/resource/y77d-th95.json'
response = requests.get(url)               #downloading the raw json using requests
data = response.json()

In [2]:
df = pd.DataFrame(data)    # Convert JSON data to DataFrame

In [3]:
output_file_q4 = 'nasa_data.csv'           #creating output file
df.to_csv(output_file_q4, index=False)

In [5]:
df.isnull().sum()

name                             0
id                               0
nametype                         0
recclass                         0
mass                            28
fall                             0
year                             1
reclat                          12
reclong                         12
geolocation                     12
:@computed_region_cbhk_fwbd    867
:@computed_region_nnqa_25f4    866
dtype: int64

In [6]:
df.shape

(1000, 12)

In [7]:
# we can see the majority of :@computed_region_cbhk_fwbd and @computed_region_nnqa_25f4 are missing so we will drop it

In [9]:
df=df.drop([':@computed_region_cbhk_fwbd',':@computed_region_nnqa_25f4'],axis=1)

In [10]:
# also dropping the single null in year

In [16]:
df['fall'].fillna(df['fall'].mode(),inplace=True)

In [17]:
df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"{'type': 'Point', 'coordinates': [6.08333, 50...."
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"{'type': 'Point', 'coordinates': [10.23333, 56..."
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'type': 'Point', 'coordinates': [-113, 54.216..."
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"{'type': 'Point', 'coordinates': [-99.9, 16.88..."
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"{'type': 'Point', 'coordinates': [-64.95, -33...."
...,...,...,...,...,...,...,...,...,...,...
995,Tirupati,24009,Valid,H6,230,Fell,1934-01-01T00:00:00.000,13.633330,79.416670,"{'type': 'Point', 'coordinates': [79.41667, 13..."
996,Tissint,54823,Valid,Martian (shergottite),7000,Fell,2011-01-01T00:00:00.000,29.481950,-7.611230,"{'type': 'Point', 'coordinates': [-7.61123, 29..."
997,Tjabe,24011,Valid,H6,20000,Fell,1869-01-01T00:00:00.000,-7.083330,111.533330,"{'type': 'Point', 'coordinates': [111.53333, -..."
998,Tjerebon,24012,Valid,L5,16500,Fell,1922-01-01T00:00:00.000,-6.666670,106.583330,"{'type': 'Point', 'coordinates': [106.58333, -..."
999,Tomakovka,24019,Valid,LL6,600,Fell,1905-01-01T00:00:00.000,47.850000,34.766670,"{'type': 'Point', 'coordinates': [34.76667, 47..."

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1000 non-null   object
 1   id           1000 non-null   object
 2   nametype     1000 non-null   object
 3   recclass     1000 non-null   object
 4   mass         972 non-null    object
 5   fall         1000 non-null   object
 6   year         999 non-null    object
 7   reclat       988 non-null    object
 8   reclong      988 non-null    object
 9   geolocation  988 non-null    object
dtypes: object(10)
memory usage: 78.2+ KB

In [25]:
df['mass']=pd.to_numeric(df['mass'])

C:\Users\tando\AppData\Local\Temp\ipykernel_23420\2527890025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mass']=pd.to_numeric(df['mass'])

In [21]:
# Split the datetime string and extract the year
df['year'] = df['year'].str.split('-').str[0]

                  name     id nametype    recclass   mass  fall  year  \
12     Aire-sur-la-Lys    425    Valid     Unknown    NaN  Fell  1769
20            Albareto    453    Valid       L/LL4   2000  Fell  1766
75            Barbotan   4942    Valid          H5   6400  Fell  1790
76   Barcelona (stone)   4944    Valid          OC    NaN  Fell  1704
94         Benares (a)   5011    Valid         LL4   3700  Fell  1798
120     Bjelaja Zerkov   5063    Valid          H6   1850  Fell  1796
172  Castel Berardenga   5292    Valid  Stone-uncl    NaN  Fell  1791
271          EichstÃ¤dt   7775    Valid          H5   3000  Fell  1785
312              FÃ¼nen  10838    Valid  Stone-uncl    NaN  Fell  1654
369            Hatford  11855    Valid  Stone-uncl  29000  Fell  1628
386          Hraschina  11916    Valid   Iron, IID  49000  Fell  1751
410          Jalandhar  12069    Valid        Iron   1967  Fell  1621
471            Kharkov  12291    Valid          L6   1500  Fell  1787
556               LucÃ©  14724    Valid          L6   3500  Fell  1768
561           Luponnas  14757    Valid        H3-5  14000  Fell  1753
599       Mauerkirchen  15446    Valid          L6  19000  Fell  1768
627           Minamino  16692    Valid           L   1040  Fell  1632
657        Mount Vaisi  16805    Valid  Stone-uncl  17000  Fell  1637
660          Mulletiwu  16851    Valid           L   25.5  Fell  1795
693            Nicorps  16970    Valid  Stone-uncl    NaN  Fell  1750
710          Novy-Ergi  17934    Valid  Stone-uncl    NaN  Fell  1662
722                Ogi  17994    Valid          H6  14360  Fell  1741
737            Ortenau  18033    Valid  Stone-uncl   4500  Fell  1671
748             Owrucz  18062    Valid          OC    NaN  Fell  1775
787         Pettiswood  18804    Valid  Stone-uncl    NaN  Fell  1779
802       Ploschkovitz  18849    Valid          L5     39  Fell  1723
810           Portugal  18876    Valid  Stone-uncl   4500  Fell  1796
839            Rasgrad  22396    Valid  Stone-uncl  24700  Fell  1740
860             Rodach  22642    Valid  Stone-uncl   2900  Fell  1775
869              Sagan  22796    Valid  Stone-uncl    NaN  Fell  1636
874             Salles  23111    Valid          L5   9000  Fell  1798
887           Sasagase  23187    Valid           H    695  Fell  1688
892           Schellin  23457    Valid           L   7000  Fell  1715
901               Sena  23495    Valid          H4   4000  Fell  1773
919              Siena  23586    Valid         LL5   3700  Fell  1794
957          Stolzenau  23726    Valid  Stone-uncl    NaN  Fell  1647
960       Stretchleigh  23732    Valid  Stone-uncl  10400  Fell  1623
971              Tabor  23776    Valid          H5   7540  Fell  1753

        reclat     reclong                                        geolocation
12   50.666670    2.333330  {'type': 'Point', 'coordinates': [2.33333, 50....
20   44.650000   11.016670  {'type': 'Point', 'coordinates': [11.01667, 44...
75   43.950000   -0.050000   {'type': 'Point', 'coordinates': [-0.05, 43.95]}
76   41.366670    2.166670  {'type': 'Point', 'coordinates': [2.16667, 41....
94   25.366670   82.916670  {'type': 'Point', 'coordinates': [82.91667, 25...
120  49.783330   30.166670  {'type': 'Point', 'coordinates': [30.16667, 49...
172  43.350000   11.500000    {'type': 'Point', 'coordinates': [11.5, 43.35]}
271  48.900000   11.216670  {'type': 'Point', 'coordinates': [11.21667, 48...
312  55.333330   10.333330  {'type': 'Point', 'coordinates': [10.33333, 55...
369  51.650000   -1.516670  {'type': 'Point', 'coordinates': [-1.51667, 51...
386  46.100000   16.333330  {'type': 'Point', 'coordinates': [16.33333, 46...
410  31.000000   75.000000         {'type': 'Point', 'coordinates': [75, 31]}
471  50.625000   35.075000  {'type': 'Point', 'coordinates': [35.075, 50.6...
556  47.850000    0.483330  {'type': 'Point', 'coordinates': [0.48333, 47....
561  46.216670    5.000000    {'type': 'Point', 'coordinates': [5, 46.21667]}
599  48.183330   13.133330  {'type': 'Point', 'coordinates': [13.13333, 48...
627  35.078330  136.933330  {'type': 'Point', 'coordinates': [136.93333, 3...
657  44.083330    6.866670  {'type': 'Point', 'coordinates': [6.86667, 44....
660   9.333330   80.833330  {'type': 'Point', 'coordinates': [80.83333, 9....
693  49.033330   -1.433330  {'type': 'Point', 'coordinates': [-1.43333, 49...
710  58.550000   31.333330  {'type': 'Point', 'coordinates': [31.33333, 58...
722  33.283330  130.200000  {'type': 'Point', 'coordinates': [130.2, 33.28...
737  48.500000    8.000000        {'type': 'Point', 'coordinates': [8, 48.5]}
748  51.333330   28.833330  {'type': 'Point', 'coordinates': [28.83333, 51...
787  53.533330   -7.333330  {'type': 'Point', 'coordinates': [-7.33333, 53...
802  50.533330   14.116670  {'type': 'Point', 'coordinates': [14.11667, 50...
810  38.500000   -8.000000       {'type': 'Point', 'coordinates': [-8, 38.5]}
839  43.500000   26.533330  {'type': 'Point', 'coordinates': [26.53333, 43...
860  50.350000   10.800000    {'type': 'Point', 'coordinates': [10.8, 50.35]}
869  51.533330   14.883330  {'type': 'Point', 'coordinates': [14.88333, 51...
874  46.050000    4.633330  {'type': 'Point', 'coordinates': [4.63333, 46....
887  34.716670  137.783330  {'type': 'Point', 'coordinates': [137.78333, 3...
892  53.350000   15.050000   {'type': 'Point', 'coordinates': [15.05, 53.35]}
901  41.716670   -0.050000  {'type': 'Point', 'coordinates': [-0.05, 41.71...
919  43.116670   11.600000  {'type': 'Point', 'coordinates': [11.6, 43.116...
957  52.533330    9.050000  {'type': 'Point', 'coordinates': [9.05, 52.533...
960  50.383330   -3.950000  {'type': 'Point', 'coordinates': [-3.95, 50.38...
971  49.400000   14.650000    {'type': 'Point', 'coordinates': [14.65, 49.4]}

C:\Users\tando\AppData\Local\Temp\ipykernel_23420\926532022.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['year'].str.split('-').str[0]

In [ ]:
# filling mass with average

In [26]:
df['mass'].fillna(df['mass'].mean(),inplace=True)

C:\Users\tando\AppData\Local\Temp\ipykernel_23420\1445215095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mass'].fillna(df['mass'].mean(),inplace=True)

In [28]:
df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation
12,Aire-sur-la-Lys,425,Valid,Unknown,8797.017857,Fell,1769,50.666670,2.333330,"{'type': 'Point', 'coordinates': [2.33333, 50...."
20,Albareto,453,Valid,L/LL4,2000.000000,Fell,1766,44.650000,11.016670,"{'type': 'Point', 'coordinates': [11.01667, 44..."
75,Barbotan,4942,Valid,H5,6400.000000,Fell,1790,43.950000,-0.050000,"{'type': 'Point', 'coordinates': [-0.05, 43.95]}"
76,Barcelona (stone),4944,Valid,OC,8797.017857,Fell,1704,41.366670,2.166670,"{'type': 'Point', 'coordinates': [2.16667, 41...."
94,Benares (a),5011,Valid,LL4,3700.000000,Fell,1798,25.366670,82.916670,"{'type': 'Point', 'coordinates': [82.91667, 25..."

In [27]:
df.isnull().sum()

name           0
id             0
nametype       0
recclass       0
mass           0
fall           0
year           0
reclat         0
reclong        0
geolocation    0
dtype: int64

In [31]:
# converting year column to int

In [30]:
df['year']=pd.to_numeric(df['year'])

C:\Users\tando\AppData\Local\Temp\ipykernel_23420\112004778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year']=pd.to_numeric(df['year'])

a. Get all the Earth meteorites that fell before the year 2000

In [33]:
filtered_df =df[(df['fall'] == 'Fell') & (df['year'] < 2000)]

In [34]:
filtered_df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation
12,Aire-sur-la-Lys,425,Valid,Unknown,8797.017857,Fell,1769,50.666670,2.333330,"{'type': 'Point', 'coordinates': [2.33333, 50...."
20,Albareto,453,Valid,L/LL4,2000.000000,Fell,1766,44.650000,11.016670,"{'type': 'Point', 'coordinates': [11.01667, 44..."
75,Barbotan,4942,Valid,H5,6400.000000,Fell,1790,43.950000,-0.050000,"{'type': 'Point', 'coordinates': [-0.05, 43.95]}"
76,Barcelona (stone),4944,Valid,OC,8797.017857,Fell,1704,41.366670,2.166670,"{'type': 'Point', 'coordinates': [2.16667, 41...."
94,Benares (a),5011,Valid,LL4,3700.000000,Fell,1798,25.366670,82.916670,"{'type': 'Point', 'coordinates': [82.91667, 25..."
120,Bjelaja Zerkov,5063,Valid,H6,1850.000000,Fell,1796,49.783330,30.166670,"{'type': 'Point', 'coordinates': [30.16667, 49..."
172,Castel Berardenga,5292,Valid,Stone-uncl,8797.017857,Fell,1791,43.350000,11.500000,"{'type': 'Point', 'coordinates': [11.5, 43.35]}"
271,EichstÃ¤dt,7775,Valid,H5,3000.000000,Fell,1785,48.900000,11.216670,"{'type': 'Point', 'coordinates': [11.21667, 48..."
312,FÃ¼nen,10838,Valid,Stone-uncl,8797.017857,Fell,1654,55.333330,10.333330,"{'type': 'Point', 'coordinates': [10.33333, 55..."
369,Hatford,11855,Valid,Stone-uncl,29000.000000,Fell,1628,51.650000,-1.516670,"{'type': 'Point', 'coordinates': [-1.51667, 51..."
386,Hraschina,11916,Valid,"Iron, IID",49000.000000,Fell,1751,46.100000,16.333330,"{'type': 'Point', 'coordinates': [16.33333, 46..."
410,Jalandhar,12069,Valid,Iron,1967.000000,Fell,1621,31.000000,75.000000,"{'type': 'Point', 'coordinates': [75, 31]}"
471,Kharkov,12291,Valid,L6,1500.000000,Fell,1787,50.625000,35.075000,"{'type': 'Point', 'coordinates': [35.075, 50.6..."
556,LucÃ©,14724,Valid,L6,3500.000000,Fell,1768,47.850000,0.483330,"{'type': 'Point', 'coordinates': [0.48333, 47...."
561,Luponnas,14757,Valid,H3-5,14000.000000,Fell,1753,46.216670,5.000000,"{'type': 'Point', 'coordinates': [5, 46.21667]}"
599,Mauerkirchen,15446,Valid,L6,19000.000000,Fell,1768,48.183330,13.133330,"{'type': 'Point', 'coordinates': [13.13333, 48..."
627,Minamino,16692,Valid,L,1040.000000,Fell,1632,35.078330,136.933330,"{'type': 'Point', 'coordinates': [136.93333, 3..."
657,Mount Vaisi,16805,Valid,Stone-uncl,17000.000000,Fell,1637,44.083330,6.866670,"{'type': 'Point', 'coordinates': [6.86667, 44...."
660,Mulletiwu,16851,Valid,L,25.500000,Fell,1795,9.333330,80.833330,"{'type': 'Point', 'coordinates': [80.83333, 9...."
693,Nicorps,16970,Valid,Stone-uncl,8797.017857,Fell,1750,49.033330,-1.433330,"{'type': 'Point', 'coordinates': [-1.43333, 49..."
710,Novy-Ergi,17934,Valid,Stone-uncl,8797.017857,Fell,1662,58.550000,31.333330,"{'type': 'Point', 'coordinates': [31.33333, 58..."
722,Ogi,17994,Valid,H6,14360.000000,Fell,1741,33.283330,130.200000,"{'type': 'Point', 'coordinates': [130.2, 33.28..."
737,Ortenau,18033,Valid,Stone-uncl,4500.000000,Fell,1671,48.500000,8.000000,"{'type': 'Point', 'coordinates': [8, 48.5]}"
748,Owrucz,18062,Valid,OC,8797.017857,Fell,1775,51.333330,28.833330,"{'type': 'Point', 'coordinates': [28.83333, 51..."
787,Pettiswood,18804,Valid,Stone-uncl,8797.017857,Fell,1779,53.533330,-7.333330,"{'type': 'Point', 'coordinates': [-7.33333, 53..."
802,Ploschkovitz,18849,Valid,L5,39.000000,Fell,1723,50.533330,14.116670,"{'type': 'Point', 'coordinates': [14.11667, 50..."
810,Portugal,18876,Valid,Stone-uncl,4500.000000,Fell,1796,38.500000,-8.000000,"{'type': 'Point', 'coordinates': [-8, 38.5]}"
839,Rasgrad,22396,Valid,Stone-uncl,24700.000000,Fell,1740,43.500000,26.533330,"{'type': 'Point', 'coordinates': [26.53333, 43..."
860,Rodach,22642,Valid,Stone-uncl,2900.000000,Fell,1775,50.350000,10.800000,"{'type': 'Point', 'coordinates': [10.8, 50.35]}"
869,Sagan,22796,Valid,Stone-uncl,8797.017857,Fell,1636,51.533330,14.883330,"{'type': 'Point', 'coordinates': [14.88333, 51..."
874,Salles,23111,Valid,L5,9000.000000,Fell,1798,46.050000,4.633330,"{'type': 'Point', 'coordinates': [4.63333, 46...."
887,Sasagase,23187,Valid,H,695.000000,Fell,1688,34.716670,137.783330,"{'type': 'Point', 'coordinates': [137.78333, 3..."
892,Schellin,23457,Valid,L,7000.000000,Fell,1715,53.350000,15.050000,"{'type': 'Point', 'coordinates': [15.05, 53.35]}"
901,Sena,23495,Valid,H4,4000.000000,Fell,1773,41.716670,-0.050000,"{'type': 'Point', 'coordinates': [-0.05, 41.71..."
919,Siena,23586,Valid,LL5,3700.000000,Fell,1794,43.116670,11.600000,"{'type': 'Point', 'coordinates': [11.6, 43.116..."
957,Stolzenau,23726,Valid,Stone-uncl,8797.017857,Fell,1647,52.533330,9.050000,"{'type': 'Point', 'coordinates': [9.05, 52.533..."
960,Stretchleigh,23732,Valid,Stone-uncl,10400.000000,Fell,1623,50.383330,-3.950000,"{'type': 'Point', 'coordinates': [-3.95, 50.38..."
971,Tabor,23776,Valid,H5,7540.000000,Fell,1753,49.400000,14.650000,"{'type': 'Point', 'coordinates': [14.65, 49.4]}"

b. Get all the earth meteorites co-ordinates who fell before the year 1970

In [35]:
filtered_df =df[(df['fall'] == 'Fell') & (df['year'] < 1970)]['geolocation']

In [36]:
filtered_df

12     {'type': 'Point', 'coordinates': [2.33333, 50....
20     {'type': 'Point', 'coordinates': [11.01667, 44...
75      {'type': 'Point', 'coordinates': [-0.05, 43.95]}
76     {'type': 'Point', 'coordinates': [2.16667, 41....
94     {'type': 'Point', 'coordinates': [82.91667, 25...
120    {'type': 'Point', 'coordinates': [30.16667, 49...
172      {'type': 'Point', 'coordinates': [11.5, 43.35]}
271    {'type': 'Point', 'coordinates': [11.21667, 48...
312    {'type': 'Point', 'coordinates': [10.33333, 55...
369    {'type': 'Point', 'coordinates': [-1.51667, 51...
386    {'type': 'Point', 'coordinates': [16.33333, 46...
410           {'type': 'Point', 'coordinates': [75, 31]}
471    {'type': 'Point', 'coordinates': [35.075, 50.6...
556    {'type': 'Point', 'coordinates': [0.48333, 47....
561      {'type': 'Point', 'coordinates': [5, 46.21667]}
599    {'type': 'Point', 'coordinates': [13.13333, 48...
627    {'type': 'Point', 'coordinates': [136.93333, 3...
657    {'type': 'Point', 'coordinates': [6.86667, 44....
660    {'type': 'Point', 'coordinates': [80.83333, 9....
693    {'type': 'Point', 'coordinates': [-1.43333, 49...
710    {'type': 'Point', 'coordinates': [31.33333, 58...
722    {'type': 'Point', 'coordinates': [130.2, 33.28...
737          {'type': 'Point', 'coordinates': [8, 48.5]}
748    {'type': 'Point', 'coordinates': [28.83333, 51...
787    {'type': 'Point', 'coordinates': [-7.33333, 53...
802    {'type': 'Point', 'coordinates': [14.11667, 50...
810         {'type': 'Point', 'coordinates': [-8, 38.5]}
839    {'type': 'Point', 'coordinates': [26.53333, 43...
860      {'type': 'Point', 'coordinates': [10.8, 50.35]}
869    {'type': 'Point', 'coordinates': [14.88333, 51...
874    {'type': 'Point', 'coordinates': [4.63333, 46....
887    {'type': 'Point', 'coordinates': [137.78333, 3...
892     {'type': 'Point', 'coordinates': [15.05, 53.35]}
901    {'type': 'Point', 'coordinates': [-0.05, 41.71...
919    {'type': 'Point', 'coordinates': [11.6, 43.116...
957    {'type': 'Point', 'coordinates': [9.05, 52.533...
960    {'type': 'Point', 'coordinates': [-3.95, 50.38...
971      {'type': 'Point', 'coordinates': [14.65, 49.4]}
Name: geolocation, dtype: object

c. Assuming that the mass of the earth meteorites was in kg, get all those whose mass was more
than 10000kg

In [37]:
filtered_df =df[(df['mass'] > 10000)]

In [38]:
filtered_df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation
369,Hatford,11855,Valid,Stone-uncl,29000.0,Fell,1628,51.650000,-1.516670,"{'type': 'Point', 'coordinates': [-1.51667, 51..."
386,Hraschina,11916,Valid,"Iron, IID",49000.0,Fell,1751,46.100000,16.333330,"{'type': 'Point', 'coordinates': [16.33333, 46..."
561,Luponnas,14757,Valid,H3-5,14000.0,Fell,1753,46.216670,5.000000,"{'type': 'Point', 'coordinates': [5, 46.21667]}"
599,Mauerkirchen,15446,Valid,L6,19000.0,Fell,1768,48.183330,13.133330,"{'type': 'Point', 'coordinates': [13.13333, 48..."
657,Mount Vaisi,16805,Valid,Stone-uncl,17000.0,Fell,1637,44.083330,6.866670,"{'type': 'Point', 'coordinates': [6.86667, 44...."
722,Ogi,17994,Valid,H6,14360.0,Fell,1741,33.283330,130.200000,"{'type': 'Point', 'coordinates': [130.2, 33.28..."
839,Rasgrad,22396,Valid,Stone-uncl,24700.0,Fell,1740,43.500000,26.533330,"{'type': 'Point', 'coordinates': [26.53333, 43..."
960,Stretchleigh,23732,Valid,Stone-uncl,10400.0,Fell,1623,50.383330,-3.950000,"{'type': 'Point', 'coordinates': [-3.95, 50.38..."